body {
  background-color: rgb(37, 39, 65);
  font-family: Arial, sans-serif;
  text-align: center;
  color: white;
}

header {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color:  rgb(37, 39, 65);
}

.mood-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.mood {
  background: rgb(102, 105, 139);
  padding: 40px;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.mood:hover {
  transform: scale(1.05);
}

.mood.selected {
  border-color: blue;
}

span {
  display: flex;
  justify-content: center;
}

button {
  background: linear-gradient(135deg, #007BFF, #0056b3);
  color: white;  
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: all 1s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 5px;
}

button:hover {
  background: linear-gradient(135deg, #0056b3, #004099);
  transform: scale(1.05);
}



.timeline {
  margin-top: 20px;
}
.filter-buttons {
  margin: 10px;
}
.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  max-width: 300px;
  margin: auto;
}
.calendar div {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}